<!doctype html>
<html>
<head>
   <style>
        th {
  text-align: center;
}
      td {
  text-align: right;
}
th, td {
  padding: 5px;
}
   </style>
</head>
   <body>
   <center>
      <table border = 1>
         {% for key, value in result[0].items() %}
            <tr>
               <th> Category </th>
               <th> Item </th>
               <th> CO2 Emissions </th>
            </tr>
         <tr>
            <td> {{ value[0] }} </td>
            <td> {{ value[1] }} </td>
            <td> {{ value[2] }} </td>
         </tr>
         {% endfor %}
      </table>
      </center>
   <center>
   <h3>Your total carbon emission is {{total_footprint}}</h3>
   </center>
   </body>
</html>
